*{
    margin: 0;
    padding: 0;
    color: #061E4B;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

#nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 1;
}

.nav-item{
    color: #DBE9EE;
    margin:2rem;
    font-size: 1.5rem;
}

.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* ECF0EF */
#first-card{
    height: auto;
    min-height: 100vh;
    width: 100%;

    text-align: center;
    background-image: linear-gradient(-135deg,#A5C0D1, #ECF0EF);

}

#profile{
    height: 16em;
    width: auto;
    max-width: 16em;
    max-height: 16em;

    display: block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

#first-card-image{
    height: 16em;
    width: auto;
    max-width: 16em;
    max-height: 16em;

    display: block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#second-card{
    padding-top: 4rem;

    /* height: 100vh; */
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

}

.project-header{
    margin: 2em 0 2em 0;
}

#project-card-1{
    display: flex;
    flex-direction: column;
}

#project-card-2{
    display: flex;
    flex-direction: column;
    /* max-width: 20rem; */
}

.preview-container{
    display: flex;
    justify-content: center;
    border:  1em solid lightgrey;
}

.preview-left-column{
    padding: 3em 1em 0 1em;
}
.preview-left-column img{
    opacity: 0.8
}
/* .preview-left-column:focus,
.preview-left-column:hover{
    outline: 1px solid gray;
} */

.sub-card{
    padding: 1em;
}

/* .sub-card:focus,
.sub-card:hover{
    outline: 1px solid gray;
} */



#third-card{
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #F3FAFA;
    padding-top: 4rem;
}


