*{
    margin: 0;
    padding: 0;
    color: #061E4B;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

#nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 1;
}

.nav-item{
    color: #DBE9EE;
    margin:2rem;
}

.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

/* ECF0EF */
#first-card{
    height: auto;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(-135deg,#A5C0D1, #ECF0EF);

}

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    height: auto;
    max-width: 100%;
    padding-top:4rem;
    
}

#profile img{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

#introduction h1{
    color: lightgray;
    margin-bottom: 1em;
}
#introduction h3{
    color: lightgray;
    margin-bottom: 1em;
}

#profile #introduction{
    position: absolute;
    top: 30%;
    padding: 2em;
    /* margin-top: 2em; */
    color: white;
    text-align: left;
    /* border:  0.2em solid white; */
    background: rgba(0, 0, 0, 0.5);

    
}

#first-card-image{
    height: 16em;
    width: auto;
    max-width: 16em;
    max-height: 16em;

    display: block;
    padding-top: 20em;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    height: auto;
    max-width: 100%;
    /* background-image: url("./mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    
    margin: 2em 0 2em 0;

}


#projects-container{
    position: absolute;
    top: 30%;
    padding: 2em;
    /* margin-top: 2em; */
    color: white;
    
    /* border:  0.2em solid white; */
    background: rgba(0, 0, 0, 0.5);
}

#second-card{
    
    text-align: center;
    padding-top: 2rem;

    /* height: 100vh; */
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

    background-image: url("./waterfall.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

#second-card h1,h3{
    color: white;
}
#second-card a{
    color: white;
}



.project-header{
    margin: 2em 0 2em 0;
}


#project-card-2{
    display: flex;
    flex-direction: column;
    
}

.preview-container{
    display: flex;
    justify-content: center;
    min-width: 250px;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 2em 2em 2em 2em;
    background-color: rgba(75,102,159, 0.4);
    
}

.preview-left-column{
    width: 100%;
}
.sub-card{
    position: relative;
    text-align: center;
    padding: 0.5em;
}
.sub-card img{
    display: block;
    width: 100%;
    height: auto;
}
.sub-card .overlay-text {

    position: absolute;
    bottom: 0.5em; 
    right: 0.5em;
    left: 0.5em;
    background: rgba(255, 234, 234, 0.5);
    color: #f1f1f1; 
    text-align: center;
    padding-top: 0.5em;

  }

.preview-right-column{
    padding: 0.5em 0.5em 0 0.5em;
}
.preview-right-column img{
    opacity: 0.8;
    position: relative;
}



#third-card{
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #F3FAFA;
    padding-top: 4rem;
    text-align: center;

    background-image: url("./lake.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#third-card h1{
    color: red;
}
#third-card h3{
    color: red;
}
#third-card a,div{
    color: red;
}

#contact-page{
    display: flex;
    justify-content: center;

}
#contact-page-container{
    display: flex;
    flex-direction: column;
    
}

.contact-cards{
    padding: 1em 4em 1em 4em; 
    margin: 1em 0 1em 0;

    /* border: 0.2em solid black;
     */

     padding: 2em 8em 2em 8em;
     margin: 2em 2em 2em 2em;
     background-color: rgba(75,102,159, 0.4);
}


