*{
    margin: 0;
    padding: 0;
    color: #061E4B;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button{
    width: 2em;
    background-color: grey;

}

button:hover{
    opacity: 0.5;
}


html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

p{
    color: white;
    margin: 0.5em;
}

h1,h2,h3{
    color:#061E4B
}

li{
    list-style-type: circle;
    margin: 2em 1em 2em 1em;
    text-align: left;
}

#nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 1;
}

.nav-item{
    color: #DBE9EE;
    margin:2rem;
}

.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

/* ECF0EF */
#first-card{
    position: relative;
    height: auto;
    min-height:30rem;
    max-height: 30rem;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(-135deg,#A5C0D1, #ECF0EF);

}

#profile{
    max-height: 30rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    height: auto;
    max-width: 100%;
    padding:4rem 0 0 0;
    
}

#profile img{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
#introduction{
    max-width: 40%;
    width: 40%;
}

#introduction h1{
    color: lightgray;
    margin-bottom: 1em;
}
#introduction h3{
    color: lightgray;
    margin-bottom: 1em;
}

#profile #introduction{
    position: absolute;
    top: 30%;
    padding: 2em;
    /* margin-top: 2em; */
    color: white;
    text-align: left;
    /* border:  0.2em solid white; */
    background: rgba(0, 0, 0, 0.5);

    
}

#first-card-image{
    height: 16em;
    width: auto;
    max-width: 16em;
    max-height: 16em;

    display: block;
    padding-top: 20em;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    height: auto;
    max-width: 100%;
    /* background-image: url("./mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    
    margin: 2em 0 2em 0;

}


#projects-container{
    position: absolute;
    top: 30%;
    padding: 2em;
    /* margin-top: 2em; */
    color: white;
    
    /* border:  0.2em solid white; */
    background: rgba(0, 0, 0, 0.5);
}

#second-card{
    
    text-align: center;
    padding-top: 2rem;

    /* height: 100vh; */
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

    background-image: url("./assets/test.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

#second-card h1,h3{
    color: #061E4B;
}
#second-card a{
    color: white;
}



.project-header{
    margin: 2em 0 2em 0;
}


#project-card-2{
    display: flex;
    flex-direction: column;
    
}

.preview-container{
    display: flex;
    justify-content: space-around;

    position: relative;
    /* min-width: 20em; */
    margin: 0 1em 2em 1em;
    /* margin-left: 2em;
    margin-right: 2em; */
    /* padding: 1em; */
    /* margin-bottom: 2em; */
    background-color: rgba(14, 83, 232, 0.2);
        
    
}

.preview-left-column{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 1em 0 0 0 ;
}
.sub-card{
    position: relative;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

.hide{
    width: 0;
}

.sub-card img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 16rem;
    max-height: 16rem;
}


.sub-card img:hover{
    opacity:0.8;
}

.sub-card .overlay-text {

    position: absolute;
    bottom: 0.5em; 
    right: 0.5em;
    left: 0.5em;
    background: rgba(255, 234, 234, 0.5);
    color: #281E19; 
    text-align: center;
    padding: 1em 0 1em 0;

  }

.preview-right-column{
    min-width: 14em;
    max-width: 14em;


}
.preview-right-column img{
    opacity: 0.8;
    position: relative;
}



#third-card{
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #F3FAFA;
    padding-top: 4rem;
    text-align: center;

    background-image: url("./assets/ocean.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#third-card h1{
    color: 061E4B;
}
#third-card h3{
    color: white;
}
#third-card a,div{
    color: white;
}

#contact-page{
    display: flex;
    justify-content: center;

}
#contact-page-container{
    display: flex;
    flex-direction: column;
    
}

.contact-cards{
    padding: 1em 4em 1em 4em; 
    margin: 1em 0 1em 0;

    /* border: 0.2em solid black;
     */

     padding: 2em 8em 2em 8em;
     margin: 2em 2em 2em 2em;
     background-color: rgba(75,102,159, 0.4);
}


